<td><input type="checkbox" value="{{value}}" {{#if selected}} checked {{/if}} /></td>
<td><span class="value">{{value}}</span></td>
<td><span class="frequency">{{count}}</span></td>
<td><span class="percent">{{percent}}%</span></td>
<td><div class="bar">
  <div class="fill" style="width:{{distribution}}%">  </div>
  <div class="fill filtered" style="width:{{filteredDistribution}}%">  </div>
</div></td>'
