<div class="range-filter">

  {{#if field.description}}
    <div class="description">
      <p>{{field.description}}</p>
      <div class="read-more">
        <a href="#read-more">read more</a>
      </div>
    </div>
  {{/if}}

  <div class="overview">
    <dl class="ui-helper-clearfix">
      <dt>Avg</dt>
      <dd>{{avg}}</dd>
      <dt>Min</dt>
      <dd>{{min}}</dd>
      <dt>Max</dt>
      <dd>{{max}}</dd>
    </dl>
  </div>

  <div>
  Select {{field.display}} between
    <input name="min" type="text" size="6" placeholder="{{min}}" autocomplete="off" /> and
    <input name="max" type="text" size="6" placeholder="{{max}}" autocomplete="off" />
    <!--<img src="assets/wdk/images/question.png"
    title="Enter a minimum and/or maximum value here, or select a region of the chart below"/>-->
    <span class="selection-total"></span>
  </div>

  <div>
    <div class="chart"></div>
    <div class="chart-title x-axis">{{field.display}} ({{field.units}})</div>
    <div class="chart-title y-axis">Frequency</div>
  </div>
</div>
