<td class="display">
  <!--
  <label>
    <input type="checkbox" value="{{item.term}}" {{#unless item.ignored }}checked{{/unless}}/>
  </label>
  -->
  {{item.display}}
</td>
{{#each fields}}
<td class="{{term}}">{{property term ../item/metadata}}</td>
{{/each}}

<td class="ignored">
  <div class="button" data-action="toggleIgnored">
    {{#if item.ignored}}
      <span class="include">Include</span>
    {{else}}
      <span class="ignore">Ignore</span>
    {{/if}}
  </div>
</td>
