<table class="results-table" width="100%">
  <thead>
    <tr>
      <th class="name">Name</th>
      {{#each fields}}
        <th class="{{term}}">{{display}}</td>
      {{/each}}
    </tr>
  </thead>

  <tbody>
  {{#each filteredData}}
    <tr>
      <td class="name">{{display}}</td>
      {{#each ../fields}}
        <td class="{{term}}">{{property term ../metadata}}</td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>
